{% extends "base.html" %}
{% load static %}

{% block title %}ToLet & Security | Admin-Edit-Profile{% endblock title %}

{% block content %}

<section id="dashboard-top">
    <div class="container">
        <div class="row justify-content-center">
            <!-- section 1 -->
            <div class="col-12 col-md-3 col-lg-3 mb-4">
                <div class="pt-5">
                    <img src="{% static 'images/profile_pic.png' %}" alt="Bariwala" class="img-fluid d-block  rounded-circle shadow"
                    style="width: 150px; height: 150px;">
                    <small class="px-5 text-muted" >@{{ request.user.username }}</small>
                
                    <ul class="nav flex-column mt-4">
                        <li class="nav-item mb-2">
                            <a class="nav-link active rounded-3 border" aria-current="page" href="/profile/">Profile Verification</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link rounded-3 border" href="/change-password/">Change Password</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link rounded-3 border" href="/services/">Services</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link rounded-3 border" href="/settings/">Settings</a>
                        </li>
                        <li class="nav-item mb-2">
                            <a class="nav-link rounded-3 border" href="/logout/">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- section 2 -->
            <div class="col-12 col-md-9 col-lg-9 py-3 mb-4 pt-5">
                <div class="card p-2  text-center mb-5">
                    <p>Add your payment method and Ensure a hassle-free experience by 
                        verifying your profile with complete and accurate information. 
                        If you encounter any problems or have questions,
                         feel free to contact us. We are here to help you. 
                         Contact Informetion : 01751379009 
                    </p>
                </div>
            <!-- section 2.1 -->
                <h5>Personal Details</h5>
                <form action="" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-outline mb-3">
                                <label class="form-label" for="id_username">Username</label>
                                <input type="text" id="id_username" placeholder="Enter your short username" class="form-control" required>
                                <div class="invalid-feedback">Please enter a username.</div>
                            </div>
                            <div class="form-outline mb-3">
                                <label class="form-label" for="id_firstName">First name</label>
                                <input type="text" id="id_firstName" name="first_name" placeholder="Enter your first name" class="form-control" required>
                                <div class="invalid-feedback">Please enter your first name.</div>
                            </div>
                            <div class="form-outline mb-3">
                                <label class="form-label" for="id_email">E-mail</label>
                                <input type="email" id="id_email" name="email" placeholder="Enter your valid email" class="form-control" required>
                                <div class="invalid-feedback">Please enter a valid email address.</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-outline mb-3">
                                <label class="form-label" for="id_profilePicture">Profile Picture</label>
                                <input type="file" id="id_profilePicture" name="profile_picture" class="form-control" required>
                                <div class="invalid-feedback">Please choose a profile picture.</div>
                            </div>
                            <div class="form-outline mb-3">
                                <label class="form-label" for="id_lastName">Last name</label>
                                <input type="text" id="id_lastName" name="last_name" placeholder="Enter your last name" class="form-control" required>
                                <div class="invalid-feedback">Please enter your last name.</div>
                            </div>
                            <div class="form-outline mb-3">
                                <label class="form-label" for="id_phoneNumber">Phone</label>
                                <input type="tel" id="id_phoneNumber" name="phone" placeholder="Enter your phone number" class="form-control" required>
                                <div class="invalid-feedback">Please enter a valid phone number.</div>
                            </div>
                        </div>
                    </div>
                    <h5 class="mt-2">Address</h5>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-outline mb-3">
                                <label class="form-label" for="id_division">Division</label>
                                <select name="division" id="id_division" class="form-select" required>
                                    <option value="" disabled selected>Choose a division</option>
                                    {% for division in divisions %}
                                        <option value="{{ division.id }}">{{ division.name }}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">Please choose a division.</div>
                            </div>
                            <div class="form-outline mb-3">
                                <label class="form-label" for="id_district">District</label>
                                <select name="district" id="id_district" class="form-select" required>
                                    <option value="" disabled selected>Choose a district</option>
                                </select>
                                <div class="invalid-feedback">Please choose a district.</div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-outline mb-3">
                                <label class="form-label" for="id_upazila">Upazila</label>
                                <select name="upazila" id="id_upazila" class="form-select" required>
                                    <option value="" disabled selected>Choose an upazila</option>
                                </select>
                                <div class="invalid-feedback">Please choose an upazila.</div>
                            </div>
                            <div class="form-outline mb-3">
                                <label class="form-label" for="id_area">Area</label>
                                <input type="text" id="id_area" name="area" placeholder="Street / Zip Code / Block / Sector" class="form-control" required>
                                <div class="invalid-feedback">Please enter the area details.</div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex gap-2 my-3 justify-content-end">
                        <a class="btn bg-secondary text-white" href="/profile/">Back</a>
                        <button class="btn btn-primary" type="submit">Save changes</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block script %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function() {
        $('#id_division').change(function() {
            var divisionId = $(this).val();
            if (divisionId) {
                $('#id_district').prop('disabled', false);
                $.ajax({
                    url: `/get_districts/${divisionId}/`,
                    type: 'GET',
                    success: function(data) {
                        $('#id_district').empty();
                        $('#id_district').append('<option value="">---------</option>');
                        $.each(data, function(key, value) {
                            $('#id_district').append(`<option value="${value.id}">${value.name}</option>`);
                        });
                    }
                });
            } else {
                $('#id_district').prop('disabled', true);
                $('#id_upazila').prop('disabled', true);
                $('#id_district').empty();
                $('#id_upazila').empty();
                $('#id_district').append('<option value="">---------</option>');
                $('#id_upazila').append('<option value="">---------</option>');
            }
        });

        $('#id_district').change(function() {
            var districtId = $(this).val();
            if (districtId) {
                $('#id_upazila').prop('disabled', false);
                $.ajax({
                    url: `/get_upazilas/${districtId}/`,
                    type: 'GET',
                    success: function(data) {
                        $('#id_upazila').empty();
                        $('#id_upazila').append('<option value="">---------</option>');
                        $.each(data, function(key, value) {
                            $('#id_upazila').append(`<option value="${value.id}">${value.name}</option>`);
                        });
                    }
                });
            } else {
                $('#id_upazila').prop('disabled', true);
                $('#id_upazila').empty();
                $('#id_upazila').append('<option value="">---------</option>');
            }
        });
    });
</script>
{% endblock script %}