{% extends "base.html" %}


{% block content %}
    <section id="reset-password" class="my-5">
        <div class="container pt-3">
            <div class="row justify-content-center">
                <div class="col-11 col-md-8 col-lg-5 shadow rounded p-3">
                    <h3 class="card-title text-center mb-4">Reset your password</h3>
                    <form action="" method="post">
                        {% csrf_token %}

                        <!-- Password Reset Form -->
                        <div class="mb-3">
                            <label for="new-password" class="form-label">New Password</label>
                            <input type="password" name="new_password" id="new-password" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="confirm-password" class="form-label">Confirm Password</label>
                            <input type="password" name="confirm_password" id="confirm-password" class="form-control" required>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-success">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
    