{% extends "base.html" %}


{% block content %}
    <section id="reset-password" class="my-5">
        <div class="container my-3">
            <div class="row justify-content-center mt-5">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title text-center">Password Reset</h3>
                            <form action="" method="post">
                                {% csrf_token %}
    
                                <!-- Password Reset Form -->
                                <div class="mb-3">
                                    <label for="new-password" class="form-label">New Password</label>
                                    <input type="password" name="new_password" id="new-password" class="form-control" required>
                                </div>
    
                                <div class="mb-3">
                                    <label for="confirm-password" class="form-label">Confirm Password</label>
                                    <input type="password" name="confirm_password" id="confirm-password" class="form-control" required>
                                </div>
    
                                <button type="submit" class="btn btn-primary">Reset Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
    