{% extends "base.html" %}



{% block content %}
<section id="password-reset-form" class="my-5">
    <div class="container my-3">
        <div class="row justify-content-center mt-5">
            <div class="col-11 col-md-8 col-lg-5 shadow rounded p-3">
                <h3 class="card-title text-center mb-4">Password Reset</h3>
                <form action="" method="post">
                    {% csrf_token %}

                    <!-- Email Input -->
                    <div class="mb-4">
                        <label for="id_email" class="form-label mb-2 fw-bold">E-mail address</label>
                        <input type="email" id="id_email" name="email" class="form-control" ="emailHelpBlock">
                        <div id="emailHelpBlock" class="form-text">
                            If the account exists, we'll email you instructions to reset the password.
                        </div>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}