






a{
    text-decoration: none !important;
    color: black !important;
    font-weight: 600;
}

.loogs{
text-transform: uppercase;
}

.addProperty:hover{
    background-color: rgb(60, 60, 60);
    cursor: pointer;
    color: white;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.modal-content {
    padding: 25px;
}
.card img{
    height: 200px !important;
    object-fit: cover;
}
ul li a{
    color: white !important;
}

