{% load static %}
{% comment %} {% from django.contrib.auth import authenticate %} {% endcomment %}

<!-- <nav class="navbar navbar-expand-lg bg-light text-dark"> -->
<div class="container py-2">
    <div class="row justify-content-around">
        <div class="col-3 col-md-6 col-lg-6">
            <a class="navbar-brand" href="/">
                ToLet
            </a>
        </div>
        <div class=" col-9 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-6 text-end">
                    <a href="/add-property/" class="btn btn-outline-secondary"><i class="fa-solid fa-plus mx-1"></i>Add
                        Property</a>
                </div>
                <div class="col-6 text-end">
                    {% if not request.user.is_authenticated %}
                        <div class="text-end">
                            <a href="/login/" class="btn btn-outline-success">Login</a>
                            <a href="/register/" class="btn btn-outline-success">Signup</a>
                        </div>
                    {% else %}
                        <div class="btn-group">
                            <button type="button" class="btn border-0"  data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="row align-items-center">
                                    <div class="col text-end px-0">
                                        {%if request.user.username %}
                                        <p class="mb-0" >{{ request.user.username }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="col">
                                        <i class="fa-solid fa-circle-user fs-1"></i>
                                    </div>
                                </div>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end bg-dark">
                                <li><a class="dropdown-item" href="{% url "profile" %}">Profile</a></li>
                                <li><a class="dropdown-item" href="{% url "changePassword" %}">Change Password</a></li>
                                <li><a class="dropdown-item" href="{% url "setting" %}">Settings</a></li>
                                <li><a class="dropdown-item" href="{% url "log_out" %}">Logout</a></li>
                            </ul>
                        </div>
                    {% endif %}
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </nav> -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Property List</a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/family/">Family</a></li>
                        <li><a class="dropdown-item" href="/office/">Office</a></li>
                        <li><a class="dropdown-item" href="/bachelor/">Bachelor</a></li>
                        <li><a class="dropdown-item" href="/sublet/">Sublet</a></li>
                        <li><a class="dropdown-item" href="/about/">about</a></li>

                        <li><a class="dropdown-item" href="#">Shop</a></li>
                        <li><a class="dropdown-item" href="#">Hostel</a></li>
                        <li><a class="dropdown-item" href="#">Land</a></li>
                        <li><a class="dropdown-item" href="#">Job</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/saveproperty/">Save Property</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/payment/">Payment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/services/">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/about/">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/setting/">Settings</a>
                </li>
            </ul>
            <div>
                <button type="button" class="btn border btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Search more advancely
                </button>

            </div>
        </div>
    </div>
</nav>

<!-- popup -->
<div class="modal fade p-3" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Where do you want to Search</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="row">
                    <div class="col-4">
                        <label for="">Division</label>
                        <select class="form-select mb-3" aria-label="Default select example">
                            <option selected>Dhaka</option>
                            <option value="1">Barishal</option>
                            <option value="2">Chattogram</option>
                            <option value="3">Khulna</option>
                            <option value="3">Rajshahi</option>
                            <option value="3">Rangpur</option>
                            <option value="3">Mymensingh </option>
                            <option value="3">Sylhet</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="">District</label>
                        <select class="form-select mb-3" aria-label="Default select example">
                            <option selected>Dhaka</option>
                            <option value="1">Chittagong</option>
                            <option value="2">Rajshahi</option>
                            <option value="3">Sylhet</option>
                            <option value="4">Jessore</option>
                            <option value="5">Feni</option>
                            <option value="6">Dinajpur</option>
                            <option value="7">Mymensingh</option>
                            <option value="8">Comilla </option>
                            <option value="9">Barisal </option>
                            <option value="10">Faridpur </option>
                            <option value="11">Bogra </option>
                            <option value="12">Pabna </option>
                            <option value="13">Rangamati </option>
                            <option value="14">Kushtia </option>
                            <option value="15">Rangpur </option>
                            <option value="16">Noakhali </option>
                            <option value="17">Khulna </option>
                            <option value="18">Tangail </option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="">Area name</label>
                        <select class="form-select mb-3" aria-label="Default select example">
                            <option selected>Mirpur</option>
                            <option value="1">Chittagong</option>
                            <option value="2">Rajshahi</option>
                            <option value="3">Sylhet</option>
                            <option value="4">Jessore</option>
                            <option value="5">Feni</option>
                            <option value="6">Dinajpur</option>
                            <option value="7">Mymensingh</option>
                            <option value="8">Comilla </option>
                            <option value="9">Barisal </option>
                            <option value="10">Faridpur </option>
                            <option value="11">Bogra </option>
                            <option value="12">Pabna </option>
                            <option value="13">Rangamati </option>
                            <option value="14">Kushtia </option>
                            <option value="15">Rangpur </option>
                            <option value="16">Noakhali </option>
                            <option value="17">Khulna </option>
                            <option value="18">Tangail </option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="">Property Type</label>
                        <select class="form-select mb-3" aria-label="Default select example">
                            <option selected>Family</option>
                            <option value="2">Bachelor</option>
                            <option value="3">Sublet</option>
                            <option value="4">Land</option>
                            <option value="5">Shop</option>
                            <option value="6">Garage</option>
                            <option value="7">Office</option>
                        </select>
                    </div>

                </div>

                <button type="submit" class="btn btn-primary">Search</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </form>

        </div>
    </div>
</div>