{% load static %}
{% comment %} {% from django.contrib.auth import authenticate %} {% endcomment %}

<!-- <nav class="navbar navbar-expand-lg bg-light text-dark"> -->
<div class="container py-2">
    <div class="row d-flex align-items-center">
        <div class="col-12 col-lg-6  d-flex align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand" href="/">
                <img class="" src="{% static 'images\logo-01.png'' %}" style="height: 60px;" alt="">
            </a>
        </div>
        <div class="col-lg-6 col-6 col-md-auto text-end d-none d-lg-block">
            {% if not request.user.is_authenticated %}
            <div class="text-end">
                <a href="/login/" class="btn btn-dark text-light">Login</a>
                <a href="/register/" class="btn btn-dark text-light">Signup</a>
            </div>
            {% else %}
            <div class=" btn-group">
                
                    <div class="row align-items-center">
                        <div class="col text-end px-0">
                            {%if request.user.username %}
                            <p class="mb-0">{{ request.user.username }}</p>
                            {% endif %}
                        </div>
                        <div class="col ">
                            <!-- profile image -->
                            <a href="/profile/"><i class="fa-solid text-dark fa-circle-user fs-2"></i></a>
                        </div>
                    </div>
        
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- </nav> -->


<nav class="navbar sticky-top d-flex d-inline navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navmenu">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/services/">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/services/">Tutorials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/about/">About</a>
                </li>
                
            </ul>
            <div>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Advance Search
                </button>
            </div>
        </div>

    <!-- mobile view -->
        <div class="d-lg-none d-flex">
            <div class=" ">
                    <div class="">
                        {% if not request.user.is_authenticated %}
                        <div class="text-end">
                            <a href="/login/" class="btn btn-dark text-light">Login</a>
                            <a href="/register/" class="btn btn-dark text-light">Signup</a>
                        </div>
                        {% else %}
                        <div>
                            <div class="row align-items-center">
                                <div class="col text-end px-0 text-white">
                                    {%if request.user.username %}
                                    <p class="mb-0">{{ request.user.username }}</p>
                                    {% endif %}
                                </div>
                                <div class="col">
                                    <!-- profile image -->
                                    <a href="/profile/"><i class="fa-solid fa-circle-user fs-2 text-white"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- popup -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Where do you want to Search</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="post" class="p-4">
                <div class="row">
                    <div class="col-6">
                        <label for="">Division</label>
                        <select class="form-select mb-3" aria-label="Default select example">
                            <option selected>Dhaka</option>
                            <option value="1">Barishal</option>
                            <option value="2">Chattogram</option>
                            <option value="3">Khulna</option>
                            <option value="3">Rajshahi</option>
                            <option value="3">Rangpur</option>
                            <option value="3">Mymensingh </option>
                            <option value="3">Sylhet</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="">District</label>
                        <select class="form-select mb-3" aria-label="Default select example">
                            <option selected>Dhaka</option>
                            <option value="1">Chittagong</option>
                            <option value="2">Rajshahi</option>
                            <option value="3">Sylhet</option>
                            <option value="4">Jessore</option>
                            <option value="5">Feni</option>
                            <option value="6">Dinajpur</option>
                            <option value="7">Mymensingh</option>
                            <option value="8">Comilla </option>
                            <option value="9">Barisal </option>
                            <option value="10">Faridpur </option>
                            <option value="11">Bogra </option>
                            <option value="12">Pabna </option>
                            <option value="13">Rangamati </option>
                            <option value="14">Kushtia </option>
                            <option value="15">Rangpur </option>
                            <option value="16">Noakhali </option>
                            <option value="17">Khulna </option>
                            <option value="18">Tangail </option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="">Area name</label>
                        <select class="form-select mb-3" aria-label="Default select example">
                            <option selected>Mirpur</option>
                            <option value="1">Chittagong</option>
                            <option value="2">Rajshahi</option>
                            <option value="3">Sylhet</option>
                            <option value="4">Jessore</option>
                            <option value="5">Feni</option>
                            <option value="6">Dinajpur</option>
                            <option value="7">Mymensingh</option>
                            <option value="8">Comilla </option>
                            <option value="9">Barisal </option>
                            <option value="10">Faridpur </option>
                            <option value="11">Bogra </option>
                            <option value="12">Pabna </option>
                            <option value="13">Rangamati </option>
                            <option value="14">Kushtia </option>
                            <option value="15">Rangpur </option>
                            <option value="16">Noakhali </option>
                            <option value="17">Khulna </option>
                            <option value="18">Tangail </option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="">Property Type</label>
                        <select class="form-select mb-3" aria-label="Default select example">
                            <option selected>Family</option>
                            <option value="2">Bachelor</option>
                            <option value="3">Sublet</option>
                            <option value="4">Land</option>
                            <option value="5">Shop</option>
                            <option value="6">Garage</option>
                            <option value="7">Office</option>
                        </select>
                    </div>

                </div>

                <button type="submit" class="btn btn-primary">Search</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </form>
        </div>
        
    </div>
</div>