<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    
    <link rel="stylesheet" href='{% static "css/setting.css" %}'>
    <link rel="stylesheet" href='{% static "css/addproperty.css" %}'>
    <link rel="stylesheet" href='{% static "css/about.css" %}'>
    <link rel="stylesheet" href='{% static "css/footer.css" %}'>
    <link rel="stylesheet" href='{% static "css/services.css" %}'>
    <link rel="stylesheet" href='{% static "css/profile.css" %}'>
    <link rel="stylesheet" href='{% static "css/contact.css" %}'>
    <link rel="stylesheet" href='{% static "css/tutorial.css" %}'>
    <link rel="stylesheet" href='{% static "css/Emergency.css" %}'>



    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href='{% static "css/editProfile.css" %}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>

<body>
    {% include "includes/header.html" %}

    {% block content %}

    {% endblock content %}

    {% include "includes/footer.html" %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static "js/addproperty.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script>
    {% if messages %}
        {% for message in messages %}
        const Toast = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.onmouseenter = Swal.stopTimer;
              toast.onmouseleave = Swal.resumeTimer;
            }
          });
          Toast.fire({
            icon: "{{ message.tags }}",
            title: "{{ message }}"
          });
        {% endfor %}
    {% endif %}
    </script>


    <!-- whatsapp emergency support button -->
    <script>
      var url = 'https://wati-integration-prod-service.clare.ai/v2/watiWidget.js?8819';
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = url;
      var options = {
      "enabled":true,
      "chatButtonSetting":{
          "backgroundColor":"#00e785",
          "ctaText":"Chat with us",
          "borderRadius":"25",
          "marginLeft": "0",
          "marginRight": "20",
          "marginBottom": "20",
          "ctaIconWATI":false,
          "position":"right"
      },
      "brandSetting":{
          "brandName":"Wati",
          "brandSubTitle":"undefined",
          "brandImg":"https://www.wati.io/wp-content/uploads/2023/04/Wati-logo.svg",
          "welcomeText":"Hi there!\nHow can I help you?",
          "messageText":"Hello, %0A I have a question about {{page_link}}",
          "backgroundColor":"#00e785",
          "ctaText":"Emergency Support",
          "borderRadius":"25",
          "autoShow":false,
          "phoneNumber":"8801706711482"
      }
      };
      s.onload = function() {
          CreateWhatsappChatWidget(options);
      };
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
  </script>
        
    
    {% block script %}
        
    {% endblock script %}
        
</body>
</html>