{% extends "base.html" %}
{% load static %}
{% block title %}
Login
{% endblock title %}


{% block content %}
<section id="change-password" class="my-5">
    <div class="container my-3">
        <div class="row justify-content-center">
            <div class="col-11 col-md-5 col-lg-5 shadow rounded p-4 bg-white">
                <h3 class="mb-5 text-center">Change Password Form :)</h3>
                <form action="" method="POST" novalidate>
                    {% csrf_token %}
                    {% for fm in form %}
                    <div class="form-group mb-3">
                        {{fm.label_tag}} {{fm}} <small class="text-warning"> {{fm.errors|striptags}} </small>
                    </div>
                    {% endfor %}

                    <div class="d-grid gap-2">
                        <input type="submit" class="btn btn-dark" value="Change Password">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}