{% extends "base.html" %}
{% load static %}

{% block title %}ToLet & Security | Emergency Support{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <h1 class="text-center text-danger mt-5 display-3 fw-bold">Emergency Support</h1>
        <hr class="mx-auto mb-5 w-25">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 m-auto">
                <div class="card">
                    <img src="images/3.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h3 class="fw-bold">HotLine</h3>
                        <i class="fa-solid fa-square-phone"> <a href=" ">+008 01733-555-666</a></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}