{% extends 'base.html' %}

{% block title %}
ToLet & Security | Family
{% endblock title %}

{% block content %}
<section class="breadcrumb-area img-fluid  d-flex align-items-center" style="background-image:url('{% static 'images/test-bg.jpg' %}')">
    <div class="container">
    
                <div class="breadcrumb-wrap text-center">
                    <div class="breadcrumb-title mb-30">
                        <h2 class=" text-white fs-sm-3">Family</h2>
                                                         
                    </div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
        
                        </ol>
                    </nav>
            
        </div>
    </div>
</section>
<section id="settings" class="my-5">
    <p>Family</p>
</section>
{% endblock content %}