{% extends "base.html" %}
{% load static %}


{% block content %}
<section id="home" class="my-2">
    <div class="container my-5">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-5">
            <div class="col">
                <div class="card  ">
                    <img src="{% static 'images/Screenshot 2023-10-23 203141.png'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="text-danger card-title">Bachelor Flat</h6>
                        <p class="card-text">Mirpur, Dhaka
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'images/Screenshot 2023-10-23 203141.png'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="text-danger card-title">Bachelor Flat</h6>
                        <p class="card-text">Mirpur, Dhaka
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'images/Screenshot 2023-10-23 203141.png'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="text-danger card-title">Bachelor Flat</h6>
                        <p class="card-text">Mirpur, Dhaka
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'images/Screenshot 2023-10-23 203141.png'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="text-danger card-title">Bachelor Flat</h6>
                        <p class="card-text">Mirpur, Dhaka
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'images/Screenshot 2023-10-23 203141.png'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="text-danger card-title">Bachelor Flat</h6>
                        <p class="card-text">Mirpur, Dhaka
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'images/Screenshot 2023-10-23 203141.png'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="text-danger card-title">Bachelor Flat</h6>
                        <p class="card-text">Mirpur, Dhaka
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'images/Screenshot 2023-10-23 203141.png'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="text-danger card-title">Bachelor Flat</h6>
                        <p class="card-text">Mirpur, Dhaka
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card ">
                    <img src="{% static 'images/Screenshot 2023-10-23 203141.png'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h6 class="text-danger card-title">Bachelor Flat</h6>
                        <p class="card-text">Mirpur, Dhaka
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock content %}