{% extends "base.html" %}
{% load static %}
{% block title %}
Login
{% endblock title %}


{% block content %}
<section id="login" class="my-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 shadow p-3 bg-white rounded">
                <h3 class='text-center p-3'>Log In</h3>
                <form action="" method="POST" novalidate>
                    {% csrf_token %}
                    {% for fm in form %}
                    <div class="form-group mb-3">
                        {{fm.label_tag}} {{fm}} <small class="text-warning"> {{fm.errors|striptags}} </small>
                    </div>
                    {% endfor %}

                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{error}}</p>
                    {% endfor %}
                    {% endif %}
                    <div class="d-grid gap-2 mb-3">
                        <input type="submit" value='Login' class='btn btn-dark mt-3'>
                    </div>
                </form>
                <p>Don't have any account? <a href="/register/" class="mx-1">Register</a>here.</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}