{% extends "base.html" %}
{% load static %}
{% block title %}
ToLet | Registration
{% endblock title %}



{% block content %}
<section id="register" class="my-5">
    <div class="container my-3">
        <div class="row justify-content-center">
            <div class="col-11 col-md-5 col-lg-5 p-3 shadow bg-white rounded">
                <h3 class='text-center p-2'>Registration</h3>
                {% if messages %}
                {% for message in messages %}
                <p {% if message.tags%} class="alert alert-{{message.tags}} mb-5" {%endif%}> {{message}}</p>
                {% endfor %}
                {% endif %}
                <form action="" method="POST" novalidate>
                    {% csrf_token %}
                    {% for fm in form %}
                    <div class="form-group mb-3">
                        {{fm.label_tag}} {{fm}} <small class="text-danger"> {{fm.errors|striptags}} </small>
                    </div>

                    {% endfor %}
                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{error}}</p>
                    {% endfor %}
                    {% endif %}
                    <div class="d-grid gap-2 mb-3">
                        <input type="submit" value='Submit' class='btn btn-dark mt-3 fw-bold'>
                    </div>
                </form>
                <p>If you have already an account? <a href="/login/" class="mx-1">Login</a>now</p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}