{% extends "base.html" %}
{% load static %}

{% block title %}ToLet & Security | Services{% endblock title %}

{% block content %}

<style>
    .service-item {
    position: relative;
    background: linear-gradient(80deg, #6c6c6c 45%, #222222 30%, transparent 65%, transparent 90%);
    background-size: 200% 100%;
    background-position: 100% 0%;
    transition: background-position 0.4s ease-in-out;
    border: 2px solid black;
    border-radius: 30px 2px;
    }

    .service-item:hover {
    background-position: 0 0;
    color:white
    }
</style>


<section class="breadcrumb-area img-fluid  d-flex align-items-center" style="background-image:url('{% static 'images/test-bg.jpg' %}')">
    <div class="container">
    
                <div class="breadcrumb-wrap text-center">
                    <div class="breadcrumb-title mb-30">
                        <h2 class=" text-white fs-sm-3">Services</h2>
                                                         
                    </div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
        
                        </ol>
                    </nav>
            
        </div>
    </div>
</section>

    <section id="services">
        <div class="service">
            <div class="container-fluid py-5 border rounded">
                <div class="container">
                    <div class="row g-5">
                        <div class="col-lg-4 col-md-6">
                            <div class="mb-3">
                                <h6 class="text-primary text-uppercase">Services</h6>
                                <h1 class="display-5">House rent services...</h1>
                            </div>
                            <p class="mb-4">Our goal is to give you something which will help you to save a lot of times and reduce the panic for handling the rental issues.</p>
                            <a href="" class="btn btn-info py-md-3 px-md-5">Contact Us</a>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="service-item bg-light text-center p-5 ">
                                <i class="fa fa-home display-1 text-info mb-3"></i>
                                <h4>Property Listings and Matching</h4>
                                <p class="mb-0">Help tenants find suitable properties based on their preferences, budget, and location.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="service-item bg-light text-center p-5 ">
                                <i class="fa fa-cloud display-1 text-info mb-3"></i>
                                <h4>Tenant Verification:</h4>
                                <p class="mb-0">This can include background checks, rental history verification, and credit checks.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="service-item bg-light text-center p-5 ">
                                <i class="fa fa-wrench display-1 text-info mb-3"></i>
                                <h4>Maintenance:</h4>
                                <p class="mb-0">Connect property owners with reliable maintenance professionals for repairs and upkeep.</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="service-item bg-light text-center p-5 ">
                                <i class="fa fa-headset display-1 text-info mb-3"></i>
                                <h4>Tenant Support:</h4>
                                <p class="mb-0">Offer customer support services to address tenant inquiries and concerns.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}