{% extends 'base.html' %}

{% block title %}ToLet & Security | Terms-Condition{% endblock title %}

{% block content %}

<style>
       
    .tc_header {
        background-color: #131415;
        color: #ffffff;
        padding: 15px;
    }
    .terms_condition {
        background-color: #dbd9d9;
        padding: 40px 15px;
        margin: 5%;
        border: 2px solid black;
        border-radius: 30px 2px;
        box-shadow: 10px 5px 5px rgb(140, 140, 140);
    }
  
</style>
</head>
<body>

<section class="breadcrumb-area img-fluid  d-flex align-items-center" style="background-image:url('{% static 'images/test-bg.jpg' %}')">        <div class="container">
        <div class="breadcrumb-wrap text-center">
            <div class="breadcrumb-title mb-30">
                <h2 class=" text-white fs-sm-3">Terms & Condition</h2>
            </div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                </ol>
            </nav>
        </div>
    </div>
</section>

<section class="text-center tc_header mt-5">
    <h1 class="display-4 fw-bold ">Terms and Conditions</h1>
    <p class="lead">Welcome to our platform. Please read these terms and conditions carefully before using our services.</p>
</section>
<section >
    <div class="container terms_condition">
        <h2 class="mb-3">1. Acceptance of Terms</h2>
        <p>By using our services, you agree to comply with and be bound by these terms and conditions. If you do not agree to these terms, please do not use our services.</p>
    </div>
    <div class="container terms_condition">
        <h2 class="mb-3">2. Use of Services</h2>
        <p>You agree to use our services for lawful purposes only and in accordance with these terms. You are prohibited from violating any applicable laws or regulations while using our services.</p>
    </div>
    <div class="container terms_condition">
        <h2 class="mb-3">3. Legal Compliance</h2>
        <p>We strive to comply with all applicable laws and regulations. If you believe that our services violate any legal requirements, please contact us immediately.</p>
    </div>
    <div class="container terms_condition">
        <h2 class="mb-3">4. Contact Information</h2>
        <p>If you have any questions about these terms and conditions, please contact us at <a href="mailto:info@example.com">info@example.com</a>.</p>
    </div>
</section>

</body>

{% endblock content %}