{% extends "base.html" %}
{% load static %}

{% block title %}
ToLet & Security | Our Tutorial
{% endblock title %}

{% block content %}
<div class="page-title" style="background-image: url({% static "
	images/img/living-room-interior-design-scene-260nw-1791749852.jpg" %});">
	<div class="inner">
		<div class="container">
			<div class="sub-title">Our</div>
			<div class="title">tutorial</div>
			<ol class="breadcrumb">
			</ol>
		</div> <!-- end .container -->
	</div> <!-- end .inner -->
</div> <!-- end .page-title -->

<div class="blog">
	<div class="inner">
		<div class="container">
			<div id="blog-masonry" class="blog blog-masonry">
				<div class="blog-post-sizer"></div>
				<div class="blog-post large">
					<div class="blog-post-media">
						<a href=""><img src='{% static "images/img/blog-post-image1.jpg" %}' alt="alt text"
								class="img-responsive"></a>
					</div> <!-- end .blog-post-media -->
					<div class="blog-post-content">
						<a href="">
							<h4 class="blog-post-title"><span> 18 November</span>This is Simple Featured tutorial</h4>
						</a>
						<p>Sedquis viverra enim. Vivamus aliqet rutrusm dui a varius. Sedquis viverra enim. Vivamus
							aliqet rutrusm dui a varius. Sedquis viverra enim. Vivamus aliqet rutrusm dui a varius.</p>

					</div> <!-- end .blog-post-content -->
				</div> <!-- end .blog-post -->
				<div class="blog-post">
					<div class="blog-post-media">
						<a href=""><img src='{% static "images/img/blog-post-image4.jpg" %}' alt="alt text"
								class="img-responsive"></a>
					</div> <!-- end .blog-post-media -->
					<div class="blog-post-content">
						<a href="">
							<h4 class="blog-post-title"><span>18 November</span>This is Post With Image</h4>
						</a>
						<p>Sedquis viverra enim. Vivamus aliqet rutrusm dui a varius. Sedquis viverra enim.</p>

					</div> <!-- end .blog-post-content -->
				</div> <!-- end .blog-post -->
				<div class="blog-post audio">
					<div class="blog-post-media">
					</div> <!-- end .blog-post-media -->
					<div class="blog-post-content">
						<a href="">
							<h4 class="blog-post-title"><span>18 November</span>This is Post With Audio</h4>
						</a>
						<p>Sedquis viverra enim. Vivamus aliqet rutrusm dui a varius. Sedquis viverra enim.</p>

					</div> <!-- end .blog-post-content -->
				</div> <!-- end .blog-post -->
				<div class="blog-post video">
					<div class="blog-post-media">
						<div class="embed-responsive embed-responsive-16by9"><iframe width="560" height="315"
								src="https://www.youtube.com/embed/mJVuZiK9a6I?si=60icFyQqUXeEWkgR"
								title="YouTube video player" frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
								allowfullscreen></iframe></div>
					</div> <!-- end .blog-post-media -->
					<div class="blog-post-content">
						<a href="">
							<h4 class="blog-post-title"><span>18 November</span>This is Post With Video</h4>
						</a>
						<p>Sedquis viverra enim. Vivamus aliqet rutrusm dui a varius. Sedquis viverra enim.</p>
					</div> <!-- end .blog-post-content -->
				</div> <!-- end .blog-post -->
				<div class="blog-post">
					<div class="blog-post-media">
						<a href=""><img src='{% static "images/img/blog-post-image3.jpg" %}' alt="alt text"
								class="img-responsive"></a>
					</div> <!-- end .blog-post-media -->
					<div class="blog-post-content">
						<a href="">
							<h4 class="blog-post-title"><span>18 November</span>This is Post With Image</h4>
						</a>
						<p>Sedquis viverra enim. Vivamus aliqet rutrusm dui a varius. Sedquis viverra enim.</p>

					</div> <!-- end .blog-post-content -->
				</div> <!-- end .blog-post -->
				<div class="blog-post link">
					<div class="blog-post-content">
						<a href="">
							<h4 class="blog-post-title"><span>18 November</span>This is Post WIth Link</h4>
						</a>
						<span class="link-url">http://themeforest.net</span>
						<p>Sedquis viverra enim. Vivamus aliqet rutrusm dui a varius. Sedquis viverra enim.</p>

					</div> <!-- end .blog-post-content -->
				</div> <!-- end .blog-post -->
				<div class="blog-post">
					<div class="blog-post-media">
						<a href=""><img src='{% static "images/img/blog-post-image5.jpg" %}' alt="alt text"
								class="img-responsive"></a>
					</div> <!-- end .blog-post-media -->
					<div class="blog-post-content">
						<a href="">
							<h4 class="blog-post-title"><span>18 November</span>This is Post With Image</h4>
						</a>
						<p>Sedquis viverra enim. Vivamus aliqet rutrusm dui a varius. Sedquis viverra enim.</p>

					</div> <!-- end .blog-post-content -->
				</div> <!-- end .blog-post -->

				<div class="masonry-blog-load-more"><a href="" class="button">Load More</a></div>
			</div> <!-- end .container -->
		</div> <!-- end .inner -->
	</div> <!-- end .section -->
	{% endblock content %}